@model List<ResultOfferDiscountDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Offer Discount List</h4>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>SubTitle</th>
                                <th>ImageUrl</th>
                                <th>Button Title</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td>@item.SubTitle</td>
                                    <td>@item.ImageUrl</td>
                                    <td>@item.ButtonTitle</td>
                                    <td><a href="/Admin/OfferDiscount/DeleteOfferDiscount/@item.OfferDiscountId" class="btn btn-danger">Delete</a></td>
                                    <td><a href="/Admin/OfferDiscount/EditOfferDiscount/@item.OfferDiscountId" class="btn btn-success">Update</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (Model.Count >= 2)
                    {

                        <a href="" class="btn btn-danger btn-sm disabled">More Than Two Discount Offers Cannot Be Added!</a>
                        ;

                    }

                    else

                    {

                        <a href="/Admin/OfferDiscountAdmin/CreateOfferDiscount/" class="btn btn-primary btn-sm">Create</a>

                    }
                </div>
            </div>
        </div>

    </div>
</section>
