@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Brand Count</h5>
                    <h3>@ViewBag.BrandCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Category Count</h5>
                    <h3>@ViewBag.CategoryCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Avarage Product Count</h5>
                    <h3>ViewBag.ProductAvgPrice</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>Max Price Product Name</h5>
                    <h3>@ViewBag.MaxPriceProductName</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>User Count</h5>
                    <h3>@ViewBag.UserCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Comment Count</h5>
                    <h3>@ViewBag.CommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Active Comment Count</h5>
                    <h3> @ViewBag.ActiveCommentCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>Passive Comment Count</h5>
                    <h3>@ViewBag.PassiveCommentCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Discount Coupon Count</h5>
                    <h3>@ViewBag.DiscountCouponCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Message Count</h5>
                    <h3>@ViewBag.MessageCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Sales</h5>
                    <h3>935</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>New Orders</h5>
                    <h3>5324</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Total Leads</h5>
                    <h3>1530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Payment</h5>
                    <h3>$8,530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Sales</h5>
                    <h3>935</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>New Orders</h5>
                    <h3>5324</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Total Leads</h5>
                    <h3>1530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Payment</h5>
                    <h3>$8,530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Sales</h5>
                    <h3>935</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>New Orders</h5>
                    <h3>5324</h3>
                </div>
            </div>
        </div>
    </div>

</section>
